{% extends "base" %}

{% block title %}About{% endblock title %}

{% block content %}
    <!-- Static content -->
    <h1>PGP public key</h1>
    <div class="static-content">
<pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBGfmacYBEACyvPoYcVyVNPPOKYCIJomC//Ta1V+e//7NWRAk9J138Tmihyok
NYKviAzUl8OqPAPcBpnhHp1o74RwbDe5ycZ4A9Rc0GoFiOwXWJPCF187waqffIcF
UPjmNRthMIDG61kxtY11nqWWxeU8eD/3pikvZsLxRvOLwfoBR6++c0ZS+mx0kbVe
HeZxqY3wNFVXrGgydPFlUCzPV44CemsVa3iR7295DBCtJQZAGj5JpbZy4oDoJUUQ
IEWNpGm0Osbbr5PnnkEGVNGP/O+NhhcumzaI/wZFkzc/Dgk5J6HMOaaeO/MyWm+8
8wDSggb9ypTD+v9GDxlJOWJ57oE3dN6lfeoQkwzhEy7/8LnMlCYQP6neFhRbFSxp
rL0pLKLXf2VFWnkjsVUvZ95Z7NLJfe/GL7DRX4rheqE4dQgfLvwtjjVs7I19Rvob
nxRx0dPUx/S2vaPfyenFPETxiTBNz78gLtb2c8dRBrn/8GREtVD8UA5SGrs6XcMO
lhqZHuMaHBj0jGO2GRiqx+2Y6t+RMuwhIAz5gXO6tR6kzVi6yHHDR+1yuIIy60ue
fIhfSF7GXjlRdhxreXDXnvmPo0ESbADOiB+FwWDuqPXk4Yq09T9MYh3xQG3FRjCb
P2BNesiYxk5nF9OxkzqOAk56JwGAs1J07CJJPaXJoMJMFfkOkLaH6O8eqwARAQAB
tClDbGF1cyBHdXR0ZXNlbiA8Y2xhdXMuZ3V0dGVzZW5AcHJvdG9uLm1lPokCVAQT
AQgAPhYhBN095skTZJvQKnG10tkTAW4QRS33BQJn5mnGAhsDBQkHhg/0BQsJCAcC
BhUKCQgLAgQWAgMBAh4BAheAAAoJENkTAW4QRS33PiIP/0xdE7OYzakDilNcPrxa
1jT7QnSDcgxyjJm/K4FajuJzcl9+HBCzozcBlEfPvVvEXOPVj7BN0hVDFYKfQmEg
qqdte2GCAyV7kf9nZMjIMFXIecy/xNYC8bGA883+v+/v5VPPYWzOlqL9E/8EDF0Q
Ui54O0nj3btaIsHF75/kKoAj6wlfln+1eTwVz2bonlat2eqYDWgEUXMkdeaBuf0K
LxrB28uP4kxkZf7Acv2SCnzWX6KjGhfwYPUujrlAoIMWGSv5XF7nXnDUh5Iwc6N6
i1QO7/Xb1Ur2MzOqbbzRCfgO0iS7bL5Tg1zQ3toyqnCxS9+IoJctMvq1/19YGX0E
BJkmRGN6nQDua/KeFzgB1nQxEf8KJ3pvX3EGpT7qXyYFhCav2IhdzAtiTFZzat3j
q54wPbCKeKoD0RhGU3zuGepaBCvzSrS59Rn9wJFsUR+br8trnCwvFbaEaLynGEY5
BY78m3V8Jy74pnpi4KYT1pBPD6vknXc2moEf9e/oUI67agiMATZWBOF6gJl7e+nH
+mXmG4Adv17nrig91sf2n80NmgLZrwhaBjgNxFgQ6dqPUIoKqGXSJRaFSPqRUIlc
mthTrcNimNNQDoTl9/ey3AKgGmSTOtWsrrnMsji/hId3G3a7y+bLlwVcg2LVwCwZ
I3KAv92aED5Ul2Zcvrb0pwEGuQINBGfmacYBEADJbOrANKafOvAYo5wmwyBkoBMJ
zx96PZgAOdsAfHv03Eimzvm+3nWjwOelElVchvI5kDHf2H14eysnWYVKEvdQcvhZ
3XZjS5TmP68LvWJMo/zey1pErFVfu1CurUvVgNOv/pYv3DjFolitqjBl3e3tM3wG
5ZjLftKdtdXYafEAOjMo/45VOckjpReg2W+fToYxA8UjWzVoVaqno5gjRU4q7Sa4
wC2vimv+iPAGibKMIYW3C64+DUSWx7uLwGoloTABjle+e1gLCbzd1ZPLmblNXmqp
Vtv8gBRAp11JnaKrcbaat7Gtv30sqvRM4Pezdtbs9BgbaI1K2YlIS96hTIpJocaa
VwXpPBo0ZfFy8Pqm0jlY0sU7x3daBRvzQAU0nYcDBZJCaBz3df5SkQaMlm9/gB3p
NNBJhS3TkqJ5TV8PXSgD7ecz409XwBG7yMOrfeXDEbFgUvVbxgdB0VYER32ng9Cw
sujF2olSwKuQr29v5cwKZ4Z73guAkrLn2Yj8bPJq3dX3C2lzIhRYDvZQjp/DO/Kf
8UjxCanU2TxH9+78iqo1fADTqII1Ea2utzMB/SNvBY1KomDEvX8jYuewSWxD7zxq
w0LJPAfUQxnZtLAKuJ0GISXrwp0qMTfjU0FUpo86un/2rOPQTqtapb5IMwQ0OWh7
mG+fqthZ/CADUG1rFwARAQABiQI8BBgBCAAmFiEE3T3myRNkm9AqcbXS2RMBbhBF
LfcFAmfmacYCGwwFCQeGD/QACgkQ2RMBbhBFLfccQQ//QbktGpPk/8GIsz71kmTE
gqmrSAAa1L8MjKBXTkXGH/lG9B93t6EymhBMcNS0mV0Jpa9QNgBu2lhM563MNOrm
ilhZbW7LrNEisra79owJa34/9gcCTQCOhv3zM8xaK2jt3VY6fcPgivTyuoveW5a4
YA9RT0zU3SaltQNJAOp3PPb/wMrrhO1oqL02qrLlxW57o8fzXKWIpMkXzBwcc7xi
+MEv/mQ8fYZLYbOa+kO0N1lhPN4w1/c5tU4ChbQkgW8/aAxmsvZ8jZmcfdLm3LZd
qnvTcdQJELMTXpDT+CcVoFDxIPnHgnORXbVhaZZWshhfBLyqyogLO1fqM4YQUFXj
glEnPPGq4PKfjKG85pWrHyzsR4VPcZWKfjs1/nfU9ZEkevIozeIGxkqHsLqmFZnm
rS0DKr8pKPYeLp5eqidB7aNAb/D0pJ5tCL//PA6qAS+kFBW8OhB+0D7q1Yzcipj0
3a56yyV3rpTJ19plaHnZlfip7pa3UHgRMr22l0pI2FeLQNx44+sUaI3RBaBlG/VR
uoqzUFmzkARcoHP0BeAEN7SBXCb0Y1SjfCsNBGiHP1d/qzFzmSjYDE9lyH2iSQSl
zB6U9qG3yD/VibZX3Tkw4P4KNC5swd7OYDIiY8nf6SNGCb80aFvGDi/gaMS/caJY
n/lhpKbtFdq1/0NU1Q3ecNo=
=9iRi
-----END PGP PUBLIC KEY BLOCK-----
</pre>
    </div>

{% endblock content %}
