<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>{% block title %}My Site{% endblock title %}</title>
</head>
<body>
    <header>
        <!-- Static header content -->
        <nav>
            <a href="/">Home</a>
            <a href="/message">Message</a>
            <span class="spacer"></span>
            <a href="/about">About</a>
            <a href="/register">Register</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock content %}
    </main>

    <footer>
        <!-- Static footer content -->
        <p>&copy; 2025 Claus Guttesen</p>
    </footer>

    <script>
        const API_URL = "{{ passwordless_api_url | safe }}";
        const API_KEY = "{{ passwordless_api_key | safe }}";
    </script>
    <script src="/static/debug.js"></script>
    <script src="https://cdn.passwordless.dev/dist/1.1.0/umd/passwordless.umd.min.js" crossorigin="anonymous"></script>
    <script src="/static/toast.js"></script>
    <script src="/static/client-register.js"></script>
    <script src="/static/client-signin.js"></script>

</body>
</html>
