{% extends "base" %}

{% block title %}Home{% endblock title %}

{% block content %}
    <!-- Static content -->
    <h1>Welcome to my website</h1>
    <div class="static-content">
        <p>This is static content that doesn't change.</p>
    </div>

    <!-- Dynamic content -->
    {% if user_data %}
        <div class="user-data">
            <p>Welcome back, {{ user_data.name }}!</p>
        </div>
    {% endif %}
{% endblock content %}
